:root{
    --primary: rgb(20, 130, 214);
    --secondary: rgb(166, 215, 255);
    --danger: rgb(213, 24, 52);
}

html, body, #app{
    height: 100%;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    font-weight: bold;
}

.page{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pointer{
    cursor: pointer;
}

.input{
    padding: 9px;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 8px;
    font-size: 15px;
}

.btn{
    padding: 9px;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    font-size: 15px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

.btn:disabled{
    background-color: whitesmoke;
    color: silver;
    border: 2px solid lightgray;
}